Flask>=2.0
yfinance>=0.2.22
pandas>=1.5
numpy>=1.24
plotly>=5.15
statsmodels>=0.14
scikit-learn>=1.2
python-dateutil
gunicorn
joblib
Flask
gunicorn
joblib
numpy
pandas
plotly
python-dateutil
scikit-learn
statsmodels
yfinance
